@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

:root {
  --main-bg-color: #c0c2ce;
  --font-color: #fff;
  --card-bg-color: #d2d4dc;
  --button-color: #afafaf;
  --skill-color: #5e5656;
  --emphasize-color: #58668b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding: 0 5vw;
  font-family: "Mukta", sans-serif;
  letter-spacing: 2px;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;
}

nav {
  margin: 0 -5vw;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo-container {
  font-weight: 800;
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.menu div {
  width: 20px;
  height: 3px;
  background-color: var(--font-color);
  margin-bottom: 5px;
}

.menu-content-container {
  position: fixed;
  margin: 0 auto;
  top: 25px;
  right: -2950px;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-content {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu-content a {
  display: inline-block;
  margin-bottom: 1rem;
}

.landing {
  margin: 0 auto;
  position: relative;
  height: 95vh;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* text-align: center; */
  margin-top: 2rem;
  height: 90%;
}

.photo-text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro-img-container {
  width: 100%;
  margin: 0 auto;
  color: var(--emphasize-color);
}

.intro-img-container img {
  border-radius: 5px;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.intro-text {
  margin-top: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1 {
  font-size: clamp(2.5rem, 7vw, 5rem);
  color: var(--emphasize-color);
}

.job {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  display: block;
  color: var(--emphasize-color);
  font-weight: 500;
}

.social-icons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons svg {
  width: 30px;
  margin-right: 1rem;
  fill: var(--font-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-icons svg:hover {
  fill: var(--emphasize-color);
}

.view-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-work p {
  /* color: var(--emphasize-color); */
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.arrow-container {
  width: 25px;
  -webkit-animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: var(--font-color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 5px;
}

.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: var(--font-color);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

h2 {
  margin-top: 6rem;
  margin-bottom: 1rem;
  font-size: 200%;
}

.about-me {
  width: 280px;
  line-height: 2rem;
}

.about-me h2 {
  margin-top: 0;
}

.about-me h3 {
  margin-top: 1.5rem;
  color: var(--skill-color);
}

.about-me ul {
  margin-top: 0.2rem;
}

.skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.skill-list li {
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-list img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
}

.work-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-card {
  background-color: var(--card-bg-color);
  -webkit-box-shadow: 3px 10px 7px 5px rgba(0, 0, 0, 0.21);
          box-shadow: 3px 10px 7px 5px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.work-card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  height: 350px;
  width: 100%;
}

.work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 120%;
}

.work-title span {
  color: var(--skill-color);
  margin-left: 0.5rem;
  font-weight: 600;
}

.work-card-text {
  padding: 1rem;
}

.work-card-text h3 {
  font-size: 1.5rem;
}

.work-card p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.work-card a {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  padding: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.work-card a:hover {
  background: none;
  border: 2px solid var(--button-color);
}

form {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.contact p {
  width: 280px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.contact-form button {
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0.3rem 0;
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--emphasize-color);
  border: 2px solid var(--emphasize-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-form button:hover {
  background: none;
  border: 2px solid var(--emphasize-color);
  color: var(--emphasize-color);
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

footer a {
  color: var(--emphasize-color);
  cursor: pointer;
}

.display {
  right: 0;
  left: 0;
}

.snip {
  font-family: "Raleway", Arial, sans-serif;
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

.snip a {
  padding: 0.2em 0;
  color: #fff;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.snip a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid var(--card-bg-color);
  border-bottom: 3px solid var(--card-bg-color);
}

.snip a:hover {
  color: var(--skill-color);
}

.snip .current a {
  color: var(--skill-color);
}

.snip a:hover:before,
.snip .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media screen and (min-width: 570px) {
  .photo-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about-me {
    width: 350px;
  }
  .skill-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .intro-img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .intro-img-container img {
    margin-top: 0;
  }
  .intro-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 820px) {
  .menu {
    display: none;
  }
  .menu-content-container {
    z-index: -99;
    /* background-color: none; */
  }
  .menu-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    padding: 0;
    font-size: 1rem;
    position: fixed;
    left: 40%;
    right: 0;
    top: 0;
  }
  .menu-content a {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 850px) {
  .work-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
