:root {
  --main-bg-color: #c0c2ce;
  --font-color: #fff;
  --card-bg-color: #d2d4dc;
  --button-color: #afafaf;
  --skill-color: #5e5656;
  --emphasize-color: #58668b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding: 0 5vw;
  font-family: "Mukta", sans-serif;
  letter-spacing: 2px;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;
}

nav {
  margin: 0 -5vw;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.menu {
  cursor: pointer;
}

.menu div {
  width: 20px;
  height: 3px;
  background-color: var(--font-color);
  margin-bottom: 5px;
}

.menu-content-container {
  background-color: var(--main-bg-color);
  position: fixed;
  margin: 0 auto;
  top: 40px;
  right: -2950px;
  bottom: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  margin-top: 2rem;
  padding: 2rem;
  color: var(--font-color);
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.menu-content a {
  display: inline-block;
  margin-bottom: 1rem;
}

.landing {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin-top: 2rem;
  height: 80%;
}

.photo-text-container {
  flex: 1;
}

.intro-img-container {
  /* max-width: 200px; */
  width: 100%;
  margin: 0 auto;
  color: var(--emphasize-color);
}

.intro-img-container img {
  /* border: 1px solid var(--emphasize-color); */
  border-radius: 5px;
  filter: grayscale(30%);
}

.intro-text {
  margin-top: 1rem;
  flex: 1;
}

h1 {
  font-size: clamp(2.5rem, 7vw, 5rem);
  color: var(--emphasize-color);
}

.job {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  display: block;
  color: var(--emphasize-color);
  font-weight: 500;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.social-icons svg {
  width: 30px;
  margin-right: 1rem;
  fill: var(--font-color);
  transition: 0.2s;
}

.social-icons svg:hover {
  fill: var(--emphasize-color);
}

.view-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-work p {
  /* color: var(--emphasize-color); */
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.arrow-container {
  width: 25px;
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: var(--font-color);
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: var(--font-color);
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 200%;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.work {
  display: flex;
  flex-direction: column;
}

.work-card {
  background-color: var(--card-bg-color);
  box-shadow: 3px 10px 7px 5px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}

.work-card img {
  object-fit: cover;
  object-position: center top;
  height: 350px;
  width: 100%;
}

.work-title {
  display: flex;
  justify-content: space-between;
  font-size: 120%;
}

.work-title span {
  color: var(--skill-color);
  margin-left: 0.5rem;
  font-weight: 600;
}

.work-card-text {
  padding: 1rem;
}

.work-card-text h3 {
  font-size: 1.5rem;
}

.work-card p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.work-card a {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  padding: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.work-card a:hover {
  background: none;
  border: 2px solid var(--button-color);
}

form {
  margin-top: 1rem;
  display: grid;
  margin: 0 auto;
}

form p {
  width: 280px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.contact-form button {
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0.3rem 0;
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--emphasize-color);
  border: 2px solid var(--emphasize-color);
  transition: 0.2s;
}

.contact-form button:hover {
  background: none;
  border: 2px solid var(--emphasize-color);
  color: var(--emphasize-color);
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

footer a {
  color: var(--emphasize-color);
  cursor: pointer;
}

.display {
  right: 0;
  left: 0;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip {
  font-family: "Raleway", Arial, sans-serif;
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: 500;
  /* letter-spacing: 1px; */
}
.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.snip a {
  /* padding: 0.4em 0; */
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid var(--card-bg-color);
  border-bottom: 3px solid var(--card-bg-color);
}
.snip a:hover,
.snip .current a {
  color: #ffffff;
}
.snip a:hover:before,
.snip .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

@media screen and (min-width: 570px) {
  .photo-text-container {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .intro-img-container {
    flex: 1;
  }

  .intro-text {
    flex: 1;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 820px) {
  .menu {
    display: none;
  }

  .menu-content-container {
    /* position: inherit;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: -99; */
  }

  .menu-content {
    flex-direction: row;
    margin-top: 10px;
    padding: 0;
    font-size: 1rem;
    position: fixed;
    left: 40%;
    right: 0;
    top: 0;
  }

  .menu-content a {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 850px) {
  .work-container {
    grid-template-columns: 1fr 1fr;
  }
}
