:root {
  --main-bg-color: #b1b1b1;
  --font-color: #f9f9f9;
  --card-bg-color: rgb(177, 191, 223);
  --button-color: rgb(181, 217, 237);
  --skill-color: rgb(83, 105, 177);
  --focus-color: rgb(242, 242, 153);
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding: 1rem;
  font-family: "Lora", sans-serif;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu div {
  width: 20px;
  height: 3px;
  background-color: var(--font-color);
  margin-bottom: 5px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro-img-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.intro-img-container img {
  width: 150px;
  border-radius: 50%;
}

.name {
  color: var(--focus-color);
}

.job {
  font-size: 1.5rem;
  display: block;
}

.intro-text {
  margin-top: 1rem;
}

.intro-text p {
  width: 250px;
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.social-icons svg {
  width: 25px;
  margin-right: 1rem;
  fill: var(--font-color);
}

.viewmywork-container {
  margin-left: auto;
  margin-right: 0;
}
}

.intro-container img {
  width: 200px;
}
