:root {
  --main-bg-color: #b1b1b1;
  --font-color: #f9f9f9;
  --card-bg-color: rgb(177, 191, 223);
  --button-color: rgb(181, 217, 237);
  --skill-color: rgb(83, 105, 177);
  --focus-color: rgb(242, 242, 153);
}

body {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding: 1rem;
  font-family: "Lora", sans-serif;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu div {
  width: 20px;
  height: 3px;
  background-color: var(--font-color);
  margin-bottom: 5px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro-img-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.intro-img-container img {
  width: 150px;
  border-radius: 50%;
}

.name {
  color: var(--focus-color);
}

.job {
  font-size: 1.5rem;
  display: block;
}

.intro-text {
  margin-top: 1rem;
}

.intro-text p {
  width: 250px;
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.social-icons svg {
  width: 25px;
  margin-right: 1rem;
  fill: var(--font-color);
}

.viewmywork-container {
  margin-left: auto;
  margin-right: 0;
}

.view-work {
  display: inline-block;
  width: 180px;
  text-align: right;
  margin-top: 2rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--main-bg-color);
  background-color: var(--font-color);
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 350px;
  margin-bottom: 2rem;
  background-color: var(--card-bg-color);
  box-shadow: 3px 10px 7px 5px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  overflow: hidden;
}

.work-title {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
}

.work-title span {
  color: var(--skill-color);
  margin-left: 0.5rem;
  font-weight: 600;
}

.work-card-text {
  padding: 0.5rem 1rem;
}

.work-card p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.work-card a {
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

form {
  margin-top: 1rem;
  display: grid;
}

.contact-form input,
.contact-form textarea {
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.contact-form button {
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--font-color);
  font-weight: 500;
  padding: 0.3rem 0;
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

footer a {
  color: var(--focus-color);
  cursor: pointer;
}
